@import "../base";

.countdown {
  flex: 1;

  &__timer {
    @include justify(space-between);

    .minutes,
    .seconds {
      @include justify(space-between);
      flex: 1;

      .numberBox {
        @include justify(center);
        width: 12rem;
        height: 20rem;
        background: $yellow-80;

        span {
          font-size: $font-xlg;
          font-weight: 500;
        }
      }
    }

    .timerColons{
        @include justify(space-around);
        flex-direction: column;
        flex: 0.5;

        span{
            width: 1.5rem;
            height: 2.5rem;
            background: $darkColor;

            &:last-child{
                margin-top: 5rem;
            }
        }
    }
  }

  >button{
    width: 100%;
    height: 10rem;
    background: $blue;
    font-size: $font-lg;
    color: $lightColor;
    font-weight: 600;
    margin-top: 8rem;

    &:hover{
      filter: brightness(0.85);
    }
  }

  &__buttonActive{
    background: $red !important;
  }
}
