@import "../base";

.experiencebar {
  @include justify(space-between);
  width: 60%;
  color: $grayColor;
  font-size: $font-sm;
  opacity: 0.4;
  cursor: not-allowed;

  &__progressbar {
    position: relative;
    width: 82%;
    height: 0.4rem;

    background: $lighterGray;
    opacity: 1;
    border-radius: 0.5rem;
  }

  &__progress{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    background: $green;
  }

  @include breakpoint-down(medium){
    width: 100%;
  }

  @include breakpoint-down(medium){
    &__progressbar{
      width: 70%;
    }
  }
}
