@import "base";

.home {
  text-align: center;

  &__content {
    @include justify(space-between);

    &.withBreakCountdown{
      flex-direction: column;
    }
  }

  &__image {
    flex: 1;
    transform: scale(0.8);
  }
}
