@import "base";

.landingPage {
  min-height: 100vh;
  color: $lightColor;
  @include justify(center);
  flex-direction: column;
  background-image: url("/images/helmet-bg.png");
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: center center;

  &__headline {
    font-size: $font-lg;
    font-weight: 600;
    text-align: center;
  }
}

