// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
@import "base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightColor;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

input,
button {
  background: none;
  border: none;
}

a,
button {
  cursor: pointer;
}

.closeIcon {
  color: $darkColor;
  transform: scale(2);
}

.form {
  &.login {
    height: 41.7rem;
  }

  &.register {
    height: 56.5rem;
  }

  width: 45.8rem;
  margin: 9rem 0rem 0rem;
  padding: 3.5rem 4.5rem;
  border-radius: 3rem;
  background: $lightColor;
  @include justify(space-between);
  flex-direction: column;

  &__headline {
    font-size: $font-med;
    font-weight: 500;
    text-align: center;
    color: $darkColor;
  }

  &__inputs {
    width: 100%;

    fieldset {
      height: 4rem;
      position: relative;
    }

    fieldset:not(:first-child) {
      margin-top: 2.5rem;
    }

    input {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 0.5px solid $darkColor;
      padding-left: 1rem;
      transition: opacity 250ms ease-in-out;

      &:focus {
        border: none;
        outline: 0.5px solid $yellow;
      }

      &:focus + label {
        opacity: 0;
        border: none;
      }
    }

    label {
      color: $darkColor;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      font-size: $font-sm;
      pointer-events: none;
      transition: opacity 250ms ease-in-out;
    }
  }

  &__buttons {
    @include justify(space-between);
    flex-direction: column;

    a {
      font-size: $font-sm;
      text-decoration: underline;
      color: $grayColor;
      margin-bottom: 2rem;

      &:hover {
        filter: brightness(0.8);
      }
    }

    button {
      font-size: $font-med;
      font-weight: 400;
      background: $lightYellow;
      border-radius: 5px;
      padding: 1rem 5.6rem;
      transition: all 250ms ease-in-out;

      &:hover {
        background: $yellow;
      }
    }
  }
}
